@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Poppins", sans-serif;
}

.notes_container {
	border: 1px solid black;
	display: flex;
	padding: 10px;
}

.box {
	background-color: lightcyan;
	padding: 10px;
	border: 1px solid black;
	display: flex;
	align-items: center;
}

.box .checkbox {
	display: flex;
	align-items: center;
	padding-right: 10px;
}

.box .note_info .title {
	font-size: 1.2rem;
}

.box .note_info .additional_info {
	font-size: 0.8rem;
}

.btns_for_action {
	position: fixed;
	width: 100vw;
	height: 50px;
	bottom: 0;
	background-color: rgb(190, 190, 106);

	display: flex;
	justify-content: space-evenly;
}

#delete_btn,
#add_btn,
#edit_btn {
	cursor: pointer;
}

/* Css Styling for Overlay_add for "Add" */

#overlay_add {
	padding: 10px;
	position: fixed;

	width: 400px;
	height: 400px;

	max-width: 90%;
	max-height: 70%;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);

	z-index: 2;
	border: 1px solid cyan;
	background-color: lightcyan;

	transition: 300ms ease-in-out;
}

#overlay_add header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#overlay_add button {
	cursor: pointer;
	border: none;
	outline: none;
	background-color: transparent;

	width: 20px;
	height: 20px;
	padding-top: 5px;
	padding-right: 10px;

	font-size: 20px;
}

#overlay_add header div {
	font-family: "Poppins", sans-serif;
}

/* Form for inputing details for new note */

.form_for_adding_new_notes {
	overflow-x: auto;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
}

.title_div,
.additional_info_div,
.submit_button_for_form {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.submit_button_for_form {
	cursor: pointer;
	width: 100px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightgoldenrodyellow;
	transition: 0.5s ease;
}

.submit_button_for_form:hover {
	transition: 0.5s ease;
	background-color: lightpink;
}
