@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	width: 0.4rem;
}

::-webkit-scrollbar-track {
	background-color: var(--backgroundTheme);
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: var(--purpleTheme);
}

:root {
	font-size: 16px;
	font-family: "Montserrat", sans-serif;

	--orangeTheme: rgb(255, 100, 73);
	--backgroundTheme: rgb(26, 26, 26);
	--backgroundHover: rgb(10, 10, 10);
	--purpleTheme: rgb(111, 85, 145);
	--boxBackground: rgb(120, 120, 120);
	--timeDelay: 0.7s;
}

.navbar {
	transition: var(--timeDelay) ease;
	position: fixed;
	height: 100vh;
	width: 5rem;
	padding: 5px;
	background-color: var(--backgroundTheme);
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.navbarcontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 70vh;
}

.navlinks {
	padding: 2rem;
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.navlinks p {
	font-family: "Berkshire Swash", cursive;
	display: none;
	font-size: 1.2rem;
}

.navlinks i {
	color: var(--purpleTheme);
	font-size: 1.5rem;
}

.navlinks:hover {
	transition: var(--timeDelay) ease;
	background-color: var(--backgroundHover);
}

.navbar:hover {
	width: 15rem;
	transition: var(--timeDelay) ease;
}

.navbar:hover .navbarcontainer {
	justify-items: space-evenly;
}

.navbar:hover .navlinks {
	transition: var(--timeDelay) ease;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 15rem;
}

.navbar:hover .navlinks p {
	transition: var(--timeDelay) ease;
	padding: 0px 1.5rem;
	display: block;
	color: white;
}

.navlinks:hover i {
	transition: var(--timeDelay) ease;
	color: var(--orangeTheme);
	filter: opacity(1) grayscale(0);
}

.fa-chevron-circle-down {
	transition: var(--timeDelay) ease;
	transform: rotate(-90deg);
}

.navbar:hover .fa-chevron-circle-down {
	transform: rotate(-270deg);
	transition: var(--timeDelay) ease;
}

.fa-plus {
	transition: var(--timeDelay) ease;
	transform: rotate(90deg);
}

.navlinks:nth-child(3):hover .fa-plus {
	transition: calc(var(--timeDelay)) ease;
	transform: rotate(180deg);
}

/* Responsiveness for the nav bar*/

/* Main Page starts now */

.main_page {
	transition: var(--timeDelay) ease;
	min-height: 110vh;
	padding: 1rem;
	margin-left: 5rem;
}

.header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	border-radius: 10px;
}

.header p {
	text-transform: uppercase;
	font-family: "Rock Salt", cursive;
	letter-spacing: 1ch;
}

.notes_frame {
	min-height: 100vh;
	width: 100%;
	padding: 1rem;

	display: flex;
	flex-wrap: wrap;
}

.box {
	width: 200px;
	height: 200px;
	border-radius: 10px;
	background-color: var(--boxBackground);

	margin: 10px;
}

.box:hover {
	transition: var(--timeDelay) ease;
	background-color: var(--backgroundTheme);
}

/* Resposiveness */
@media screen and (max-width: 500px) {
	.main_page {
		margin-left: 0;
	}

	.navbar {
		bottom: 0;
		position: fixed;
		height: 5rem;
		width: 100vw;
		border-bottom-right-radius: 0;
		border-top-left-radius: 10px;
	}

	.navbarcontainer {
		display: flex;
		flex-direction: row;
		height: 4rem;
		justify-content: space-evenly;
		transition: var(--timeDelay) ease;
	}

	.navlinks {
		display: flex;
		justify-content: space-evenly;
	}

	.navbar:hover .navlinks {
		display: flex;
		justify-content: space-evenly;
	}

	.navbar:hover .navlinks p {
		display: none;
	}

	.navbar:hover {
		width: 100vw;
	}

	.navbar:hover .navbarcontainer {
		transition: var(--timeDelay) ease;
		justify-content: space-evenly;
	}
}
