@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	width: 0.4rem;
}

::-webkit-scrollbar-track {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: var(--backgroundTheme);
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: var(--purpleTheme);
}

:root {
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	--orangeTheme: rgb(255, 87, 57);
	--cyanTheme: rgb(126, 255, 212);
	--backgroundTheme: rgb(26, 26, 26);
	--backgroundHover: rgb(10, 10, 10);
	--purpleTheme: rgb(96, 70, 129);
	--purpleTextTheme: rgb(174, 153, 197);
	--boxBackground: rgb(31, 31, 31);
	--timeDelay: 0.7s;
}

.navbar {
	transition: var(--timeDelay) ease;
	position: fixed;
	height: 100vh;
	width: 5rem;
	padding: 5px;
	background-color: var(--backgroundTheme);
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.navbarcontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 70vh;
	width: inherit;
}

.navlinks {
	width: inherit;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;

	padding: 2rem 0rem;
}

.navlinks p {
	font-family: "Berkshire Swash", cursive;
	display: none;
	font-size: 1.2rem;
}

.navlinks i {
	color: var(--purpleTheme);
	font-size: 1.5rem;
}

.navbar:hover {
	transition: var(--timeDelay) ease;
	width: 15rem;
}

.navbar:hover .navbarcontainer {
	display: flex;
	width: inherit;
}

.navbar:hover .navlinks {
	padding: 2rem 3rem 2rem 2rem;
	display: flex;
	justify-content: space-between;
}

.navbar:hover .navlinks p {
	display: block;
	color: white;
}

.navlinks:hover i {
	transition: var(--timeDelay) ease;
	color: var(--orangeTheme);
	filter: opacity(1) grayscale(0);
}

.fa-chevron-circle-down {
	transition: var(--timeDelay) ease;
	transform: rotate(-90deg);
}

.navbar:hover .fa-chevron-circle-down {
	transform: rotate(-270deg);
	transition: var(--timeDelay) ease;
}

.fa-plus {
	transition: var(--timeDelay) ease;
	transform: rotate(90deg);
}

.navlinks:nth-child(3):hover .fa-plus {
	transition: calc(var(--timeDelay)) ease;
	transform: rotate(-180deg);
}

/* Main Page starts now */

.main_page {
	transition: var(--timeDelay) ease;
	min-height: 110vh;
	padding: 1rem;
	margin-left: 5rem;
}

.header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	border-radius: 10px;
}

.header p {
	text-transform: uppercase;
	font-family: "Rock Salt", cursive;
	letter-spacing: 1ch;
}

.notes_frame {
	min-height: 100vh;
	width: 100%;
	padding: 1rem;

	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
}

.box {
	width: 200px;
	height: 200px;
	border-radius: 10px;
	background-color: var(--purpleTheme);
	transition: var(--timeDelay) ease;
	margin: 10px;
	padding: 10px;
	color: white;
	overflow-y: auto;
}

.box:hover {
	transition: var(--timeDelay) ease;
	background-color: var(--backgroundTheme);
	color: var(--purpleTextTheme);
}

p.title {
	letter-spacing: 0.2ch;
	font-family: "Luxurious Roman", cursive;
	text-align: center;
	padding: 5px 0px;
	font-size: 1.5rem;
}

p.content {
	font-size: 0.9rem;
	font-family: "Montserrat", sans-serif;
}

/* Responsiveness for the nav bar
At the end because margin of 5rem is preprocessed before*/

@media screen and (max-width: 500px) {
	.main_page {
		margin-left: 0;
		width: 100vw;
	}

	.navbar {
		bottom: 0;
		position: fixed;
		height: 5rem;
		width: 100vw;
		border-bottom-right-radius: 0;
		border-top-left-radius: 10px;
	}

	.navbarcontainer {
		display: flex;
		flex-direction: row;
		height: 4rem;
	}

	.navbar:hover .navlinks p {
		display: none;
	}

	.navbar:hover {
		width: 100vw;
	}

	.notes_frame {
		justify-content: center;
	}
}
